@font-face 
{
  font-family: 'Sharp Sans';
  src: url('https://therealleathercompany.com/cdn/shop/files/Sharp-Sans-Semibold.ttf?v=1737630650') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

@font-face 
{
  font-family: 'Sharp Sans Medium';
  src: url('https://therealleathercompany.com/cdn/shop/files/Sharp-Sans-Semibold.ttf?v=1737630650') format('truetype');
}

html 
{
  scroll-behavior: smooth;
}

* 
{
    list-style: none;
    text-decoration: none;
    padding: 0vw;
    margin: 0vw;
    
}

body 
{
    overflow-x: hidden;
}

/* ANNOUNCEMENT BAR (.div1)*/
.div1 
{
    display: flex;
    justify-content: center;
    background-color: black; 
    padding: 10px 20px;

    box-sizing: border-box;
}

.heading1 
{
    text-transform: capitalize;
    margin: 0;
    font-weight: bolder;
    font-size: 1.15vw;
    text-align: center;
    color: white;
    line-height: 1.2;
    text-decoration: none;
    font-family: 'Sharp Sans';
}

.heading1:hover 
{
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 4px;
    
}

/*HEADER & NAVIGATION (.div2, .navbar)*/



.navbar
{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin: 0vh 3vw;
    padding: 0vh 0vw;
    height: 12vh;
    z-index: 1000;
}
.logo-div 
{
    flex: 0;
}
.logo-image
{ 
    width: 23.5vw;
    height: 7.2vh;
    
}
.nav-div2-a
{
    display: flex;
    align-items: center;
}
.nav-list
{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.nav-links
{  
    margin: 0vh 1vw;
    font-family: 'Sharp Sans Medium';
    color: #4b4d4e;
    font-size: 1.1vw;
    font-weight: 400;
    display: flex;
    align-items: center;
    max-width: 60vw; 
    padding-bottom: 0.8vh;
}


.links-dropdown::after
{
    content: '';
    display: inline-block;
    width: 4.5px;
    height: 4.5px;
    margin-left: 0.6vw;
    margin-right: 2px;
    border-left: 1.35px solid  #4b4d4e;
    border-bottom: 1.35px solid  #4b4d4e;
    transform: rotate(-45deg);
}
.links-dropdown:hover::after
{
    border-color: black;
    cursor:context-menu;
}

.span-with-menu, .span-without-menu
{
    text-decoration: none;
}
.span-without-menu:hover
{
    color: black;
    text-decoration: underline;
    text-underline-offset: 4px;
    cursor: pointer;
}
.links-dropdown:hover
{
    color: black;
   text-decoration: underline;
    text-underline-offset: 4px; 
    cursor:context-menu;
}
/* --- Dropdown Menus --- */
.menu-navbar-image-container 
{
    margin-top: 1vh;
    width: 37vw;
    height: 35vh;
    overflow: hidden;
    position: relative;
    margin-left: -1vw;
}
.menu-items img 
{
    width: 37vw;
    height: 35vh;
    padding-top: 2vh;
    margin-bottom: 1vh;
}
.menu2-items img 
{
    width: 37vw;
    height: 35vh;
    margin-bottom: 1vh;
    padding-right: 3vw;
    
}
.menu3-items img 
{
    width: 37vw;
    height: 35vh;
    margin-bottom: 1vh;
    margin-top: 1.5vh;
    margin-right: -1vw;
}
.menu-items img, .menu2-items img, .menu3-items img 
{
    transition: transform 1s ease-in;
}
.menu-items:hover img, .menu2-items:hover img, .menu3-items:hover img 
{
    transform: scale(1.05); 
}
.drop-down-base 
{
    display: flex;
    position: absolute;
    top: 100%; 
    background-color: white;
    padding-top: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 2vh;
    margin-top: 2vh;    
    z-index: 1000;
    justify-content: space-around;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.drop-down-base:hover
{
    cursor: pointer;
}
.drop-down-menu 
{
    width: 89vw; 
    left: -40vw; 
}

.drop-down-menu2 
{
    width: 89vw; 
    left: -50vw; 
}

.drop-down-menu3 
{
    width: 89vw; 
    left: -60vw; 
}
.dropdown-list:hover > .drop-down-menu,
.dropdown-list2:hover > .drop-down-menu2,
.dropdown-list3:hover > .drop-down-menu3 
{
    visibility: visible;
    opacity: 1;
}

.menu-items p 
{
    font-family: 'Sharp Sans';
    text-align: center;
}
.menu-items h4
{
    text-align: left;
    font-family: 'Sharp Sans'; 
    line-height: 10vh;  
    font-size: 1vw;
    
}
.menu-items li 
{
    list-style: none;
    text-align: left;
    line-height: 4vh;
    font-family: 'Sharp Sans'; 
    font-size: 1vw;
}
.menu2-items p 
{
    font-family: 'Sharp Sans';
    text-align: center;
    
}
.menu2-items-list1 h4
{
    justify-content: left;
    text-align: left;
    font-family: 'Sharp Sans'; 
    line-height: 10vh;  
    font-size: 1vw;
    margin-right: 8vw;
    margin-top: -2vh;
    
}
.menu2-items-list2 h4
{
    justify-content: left;
    text-align: left;
    font-family: 'Sharp Sans'; 
    line-height: 10vh;  
    font-size: 1vw;
    margin-right: 8vw;
    margin-top: -2vh;
    
}
.menu2-items-list3 h4
{
    justify-content: left;
    text-align: left;
    font-family: 'Sharp Sans'; 
    line-height: 10vh;  
    font-size: 1vw;
    margin-right: 5vw;
    margin-top: -2vh;
    
}
.menu2-items-list1 li 
{
    list-style: none;
    text-align: left;
    line-height: 4vh;
    font-family: 'Sharp Sans'; 
    font-size: 1vw;
    justify-content: left;
    margin-right: -6vw;
}
.menu2-items-list2 li 
{
    list-style: none;
    text-align: left;
    line-height: 4vh;
    font-family: 'Sharp Sans'; 
    font-size: 1vw;
    justify-content: left;
    margin-right: 6vw;
}
.menu2-items-list3 li 
{
    list-style: none;
    text-align: left;
    line-height: 4vh;
    font-family: 'Sharp Sans'; 
    font-size: 1vw;
    justify-content: left;
    margin-right: -2vw;
}
.menu3-items p 
{
    font-family: 'Sharp Sans';
    text-align: center;
}
.menu3-items-list1 h4
{
    justify-content: left;
    text-align: left;
    font-family: 'Sharp Sans'; 
    line-height: 10vh;  
    font-size: 1vw;
    margin-right: 0vw;
    margin-top: -1vh;
    
    
}
.menu3-items-list2 h4
{
    justify-content: left;
    text-align: left;
    font-family: 'Sharp Sans'; 
    line-height: 10vh;  
    font-size: 1vw;
    margin-right: 0vw;
    margin-top: -1vh;
    
}
.menu3-items-list3 h4
{
    justify-content: left;
    text-align: left;
    font-family: 'Sharp Sans'; 
    line-height: 10vh;  
    font-size: 1vw;
    
    margin-top: -1vh;
    
}
.menu3-items-list1 li 
{
    list-style: none;
    text-align: left;
    line-height: 4.5vh;
    font-family: 'Sharp Sans'; 
    font-size: 1vw;
    justify-content: left;
    
}
.menu3-items-list2 li 
{
    list-style: none;
    text-align: left;
    line-height: 4.5vh;
    font-family: 'Sharp Sans'; 
    font-size: 1vw;
    justify-content: left;
    margin-right: 0vw;
}
.menu3-items-list3 li 
{
    list-style: none;
    text-align: left;
    line-height: 4.5vh;
    font-family: 'Sharp Sans'; 
    font-size: 1vw;
    justify-content: left;
    
}
.dropdown-list, .dropdown-list2, .dropdown-list3 
{
    position: relative;
}
.dropdown-list
{
    position: relative;
    display: flex;
    justify-content: left;
    text-align: left;
    
}
.dropdown-list2
{
     position: relative;
    display: flex;
    justify-content: left;
    text-align: left;
}
.dropdown-list3
{
     position: relative;
    display: flex;
    justify-content: left;
    text-align: left;
}

.drop-down-base > div 
{
    flex: 1;
    padding: 0 1.5vw;
}
.search-icon
{
    width: 2.5vw;
    height: 3.2vh;
    margin-bottom: 2vh;
    transition: 0.3s ease;
}

.cart-icon
{
    width: 3.5vw;
    height: 7.2vh;
}
.nav-icons img
{
    transition: 0s ease;
}
.nav-icons img:hover
{
    transform: scale(1.06);
    cursor: pointer;
}

/*UNIQUE SELLING (.div3) */
.div3 
{
    width: 100%;
    background-color: #efefef;
}
.div3-div 
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 12px 5vw;
    max-width: 1440px;
    margin: 0 auto;
}
.div3-div p 
{
    font-family: 'Sharp Sans Medium';
    font-size: 1.11vw;
    margin: 0;
    padding: 5px 10px;
}
.usp-mobile 
{
    display: none;
}

/*HERO IMAGE (.div4)*/
.div4 
{
    line-height: 0;
}
.div4 img 
{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.div4 img:hover 
{
    cursor: pointer;
}

/*"AS SEEN IN" LOGOS (.div5)*/
.div5 
{
    margin: 9vh 0;

}
.div5 p 
{
    font-family: 'Sharp Sans';
    color: rgba(0, 0, 0, 0.75);
    font-size: 3vw;
    text-align: center;
    margin-bottom: 30px;
}
.div5-div 
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 5vw;
    gap: 30px 80px;
}
.div5-img1 
{ 
    width: 7vw; 
    height: 8vh; 
} 
.div5-img2 
{ 
    padding-top: 0.8vh; 
    width: 16vw; 
    height: 6vh; 
} 
.div5-img3 
{ 
    width: 16vw; 
    height: 8vh; 
} 
.div5-img4 
{ 
    width: 8.5vw; 
    height: 8vh; 
} 
.div5-img5 
{ 
    width: 16vw; 
    height: 8vh; 
} 

/*PRODUCT CATEGORY GRID (.div6, .div7)*/
.div6
{
    flex-wrap: wrap;
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
    cursor: pointer;
    
}
.div6 div
{
    background-color:rgb(239, 239, 239);
   cursor: pointer;
    border-radius: 1.3vw;
    margin-bottom: 2vw;
}
.link-div6
{
    cursor: pointer;
}
.div6 img
{
    width: 31vw;
    height: 68vh;
    border-radius: 1.5vw;
    cursor: pointer;
}
.div6 p
{
    display: flex;
    justify-content: left;
    padding: 2.5vh 2vw;
    font-size: 1.5vw;;
    font-family:  'Sharp Sans Medium';
    font-weight: 400;
    color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
    
    
}
.div8
{
    display: flex;
    justify-content: center;
    margin: 6vh 0vw;
}
.viewall-btn
{
    padding: 2.7vh 9.3vw;
    border-radius: 1vw;
    background-color: rgb(50, 26, 22);
    color: white;
    font-family:  'Sharp Sans Medium';
    cursor: pointer;
}

/*MAGAZINE QUOTES (.div9)*/
.div9-quotes-section 
{
    margin: 120px 4vw;
}


.quotes-desktop 
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 40px;
}
.quotes-desktop > div 
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
    max-width: 45%;
}
.quotes-desktop p 
{
    font-family: 'Sharp Sans Medium', sans-serif;
    font-size: 1.9vw;
    line-height: 1.6;
    margin-bottom: 50px;
}
.quotes-desktop img 
{
    object-fit: contain;
    height: 50px;
    width: auto;
}


.quotes-mobile-slider
{ 
    display: none !important; 
}


.quotes-mobile-slider .slick-slide 
{
    padding: 0 15px; 
}
.quotes-mobile-slider p 
{
    font-family: 'Sharp Sans Medium', sans-serif;
    font-size: 18px; 
    line-height: 1.6;
    text-align: center;
    margin-bottom: 30px;
}
.quotes-mobile-slider img 
{
    display: block;
    margin: 0 auto; 
    height: 40px;
    object-fit: contain;
}


.quotes-mobile-slider .slick-dots 
{
    bottom: -40px; 
}
.quotes-mobile-slider .slick-dots li button:before 
{
    font-size: 12px;
    color: #999;
}
.quotes-mobile-slider .slick-dots li.slick-active button:before 
{
    color: black;
}

/*FEATURED PRODUCT CARDS (.div10)*/
.div10 
{
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 0 20px;
    margin: 20px auto 0;
    max-width: 1440px;
}
.div10-card
{
    background-color: rgb(239, 239, 239);
    border-radius: 20px;
}
.div10-div 
{
    background-color: rgb(239, 239, 239);
    border-radius: 20px;
    overflow: hidden;
    display: flex; 
    flex-direction: column;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.card-image-container 
{
    position: relative;
    width: 100%;
    padding-top: 100%;
    height: 0;
    overflow: hidden;
    border-radius: 20px;
}

.card-image-container .image-primary,
.card-image-container .image-hover 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease-in-out, transform 0.4s ease-in-out;
    border-radius: 4vw;
}

.card-image-container .image-hover 
{
    opacity: 0;
}


.div10 div:hover .image-hover
{
    opacity: 1;
}

.div10-card:hover .image-primary
{
    opacity: 0;
}

.div10-card:hover .card-image-container img
{
    transform: scale(1.05);
}


.div10-div:hover .image-hover 
{
    opacity: 1;
}

.div10-div:hover .image-primary 
{
    opacity: 0;
}

.div10-div:hover .card-image-container img 
{
    transform: scale(1.05);
}

.d10-div 
{
    padding: 15px 20px 25px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.div10 p 
{
    color: black;
    font-family: 'Sharp Sans Medium';
    font-weight: bold;
    margin: 0;
    font-size: 1.7vw;
}

.div10-div:hover p 
{
    text-decoration: underline;
    text-underline-offset: 3px;
}

.review-price 
{
    margin-top: auto;
    padding-top: 10px;
}

.reviews 
{
    display: flex;
    align-items: center;
}


.reviews i 
{
    font-size: 1.4vw;
    color: black; 
    margin-right: 2px;
}

.rating 
{
    font-family: 'Sharp Sans Medium';
    font-weight: normal;
    color: black;
    font-size: 1vw;
    margin-left: 8px;
}

.price 
{
    color: rgb(18, 18, 18);
    font-size: 1.1vw;
    font-family: 'Sharp Sans Medium';
    margin-top: 8px;
}

/*CUSTOMER TESTIMONIALS (.div12)*/
.div12 
{
    display: flex;
    justify-content: space-between;
    gap: 2vw; 
    margin: 0 1vw 2vw 1vw;
}


.testimonial-card 
{
    position: relative; 
    width: 32vw;
    height: 90vh;
    border-radius: 1.5vw;
    overflow: hidden; 
    display: flex; 
    align-items: center;
    justify-content: center;
}

.testimonial-background 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000; 
}

.testimonial-image 
{
    width: 100%;
    height: 100%;
    object-fit: cover; 
    opacity: 0.5; 
}


.testimonial-content 
{
    position: relative; 
    z-index: 2;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2vw; 
}


.quote-icon 
{
    width: 8vw;
    margin-bottom: 2vh;
}

.quote-text 
{
    font-family: 'Sharp Sans Medium';
    font-size: 1.75vw;
    line-height: 1.5; 
    margin-bottom: 4vh;
}

.stars-icon 
{
    width: 10.5vw;
    margin-bottom: 2vh;
}

.quote-author 
{
    font-family: 'Sharp Sans Medium';
    font-size: 1.1vw;
}

.testimonial-dots 
{
    text-align: center;
    margin-top: 25px; 
    display: none; 
}


.dot 
{
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 5px;
    background-color: black; 
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
}

.dot.active 
{
    background-color: black; 
    width: 8px;
    height: 8px;
}

.div12-btn 
{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.readall-btn 
{
    padding: 2.7vh 6.5vw;
    margin-bottom: 6vw;
    border-radius: 0.8vw;
    background-color: rgb(50, 26, 22);
    color: white;
    font-family:  'Sharp Sans Medium';
    cursor: pointer;
}

/*FEATURE CONTENT BLOCKS (.div13)*/
.div13 
{
    display: flex;
    height: 105vh;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: rgb(239, 239, 239);
    margin: 0vh 1vw;
    border-radius: 1.5vw;
    margin-bottom: 7vh;
}
.div13-text 
{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content:left;
    text-align: left;
    padding-left: -12vw;
    width: 50vw;
}
.div13 p 
{
    font-family:  'Sharp Sans Medium';
    margin-right: 13vw;
    padding-left: 3vw;
    color: rgba(0, 0, 0, 0.75);
}
.div13-p1 
{
    font-size: 2.4vw;
    line-height: 6vh;
    width: 25vw;
    height: 17vh;
    color: rgba(0, 0, 0, 0.75);
}
.div13-p2 
{
    font-size: 1.23vw;
    line-height: 5vh;
    padding-right: 4.9vw;
    margin-bottom: 4vh;
}
.image 
{
    width: 50vw;
    height: 105vh;
}
.div13 img 
{
    width: 100%;
    height: 104vh;
    border-radius: 1.5vw;
}
.bestseller-btn 
{
    display: flex;
    text-align: center;
    justify-content:center ;
    padding: 2.7vh 2vw 2.7vh 0.5vw;    
    margin-left: 2.7vw;
    border-radius: 1vw;
    margin-right: 20vw;
    background-color: rgb(50, 26, 22);
    color: white;
    font-family:  'Sharp Sans Medium';
    cursor: pointer;
}

/*FAQ SECTION (.faq-container)*/
.faq-container 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 8vh;
}
.faq-container h1 
{
    margin: 2vh 0vw;
    font-family: 'Sharp Sans';
}
.faq-para 
{
    font-family:  'Sharp Sans Medium';
    font-size: 1.1vw;
    line-height: 4vh;
    margin-bottom: 3vw;
}
.para-link 
{ 
    color: black; 
    text-decoration: underline; 
    text-decoration-color: rgb(0, 0, 238); 
}
.returnpolicy-link
{ 
    color: black; 
    text-decoration: underline; 
    text-decoration-color: rgb(85, 26, 139); 
}
.link-dot 
{ 
    text-decoration: underline; 
    text-decoration-color: black; 
    color: black; 
}
.span-lethercare 
{ 
    color: black; 
}
.para-link:hover, .returnpolicy-link:hover 
{ 
    cursor: pointer; 
    text-decoration-color:rgb(0, 0, 238); 
}
.para-link:focus, .returnpolicy-link:focus 
{ 
    cursor: pointer; 
    text-decoration-color: red; 
}

.faqs 
{
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    margin-top: 1vh;
}
.faq-questions 
{
    display: flex;
    justify-content: space-between;
    list-style: none;
    color: rgb(77, 77, 77);
    font-family:  'Sharp Sans Medium';
    font-size: 1vw;
    font-weight: bold;
    border-bottom: 0.1vw solid rgb(235, 235, 235);
    margin-bottom: 1vw;
    padding-right: 2vw;
    padding-left: 1vw;
    padding-bottom: 2vh;
    text-transform: uppercase;
    cursor: pointer;
}
.faq-questions::after 
{
    content: '';
    display: inline-block;
    width: 4.4px;
    height: 4.3px; 
    border-top: 1.4px solid rgb(77, 77, 77); 
    border-right: 1.4px solid rgb(77, 77, 77); 
    transform: rotate(45deg);
}
.faq-answer 
{
    font-family:  'Sharp Sans Medium';
    color:rgb(102, 102, 102);
    font-size: 1.05vw;
    line-height: 3.5vh;
    padding: 0vh 2vw;
    display: block;
    margin-bottom: 3vh;
}
.faqs[open] > .faq-questions::after 
{
    transform: rotate(45deg) scaleY(-1);
}


/*FOOTER*/
footer 
{
    background-color: black;
    color: white;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.footer-div1 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2vw;
}
.footer-div1 h2 
{
    font-family: 'Sharp Sans';
    margin-bottom: 3vh;
}
.footer-div1 input 
{
    background-color: black;
    margin-top: 0.5vw;
    width: 26vw;
    height: 8vh;
    border: 0.1vw solid rgba(255, 255, 255, 0.75);
    padding-left: 2vw;
    border-radius: 1vw;
    font-size: 1.2vw;
    font-family: arial;
    color: rgba(255, 255, 255, 0.75);
    transition: 0s ease;
}
.footer-div1 input:hover 
{
    border: 0.15vw solid rgba(255, 255, 255, 0.75);   
}

.div-footer-section 
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 6vh;
}
.section2 
{
    padding-top: 10vh;
    line-height: 6vh;
}
.section2 h4 
{
    color: white;
    font-family: 'Sharp Sans';
    padding-bottom: 1vh;
    font-size: 1.5vw;
}
.section2 ul 
{
    padding-top: 1vh;
    font-family:  'Sharp Sans Medium';
    color: rgba(255, 255, 255, 0.75);
    font-size: 1.1vw;
}
.section2 a
{
    color: rgba(255, 255, 255, 0.75);
}
.section2 a:hover 
{
    color: white;
    cursor: pointer;
    text-decoration: underline;
}
.section1-image img 
{
    padding-left: 4vw;
    height: 12vh;
}
.company 
{
    padding-right: 18vw;
}

.dropdown-trigger 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
    list-style: none; 
    color: rgba(255, 255, 255, 0.75);
}
.dropdown-trigger:hover 
{
    color: white;
    cursor: context-menu;
    text-decoration: underline;
}

.dropdown-arrow 
{
    width: 20px;          
    height: 20px;         
    position: relative;
    opacity: 0.8;         
    margin-left: 22vw;
}
.dropdown-arrow::before,
.dropdown-arrow::after 
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 11px;          
    height: 0.25px;         
    border: 0.1px solid white;
    transition: transform 0.3s ease-in-out; 
}
.dropdown-arrow::before 
{ 
    transform: translateX(-3px) rotate(45deg); 
}
.dropdown-arrow::after 
{ 
    transform: translateX(3px) rotate(-45deg); 
}
.footer-drop-menu[open] .dropdown-arrow::before 
{ 
    transform: translateX(0px) rotate(45deg); 
}
.footer-drop-menu[open] .dropdown-arrow::after 
{ 
    transform: translateX(0px) rotate(-45deg); 
}

.drop-menu-1, .drop-menu-2, .drop-menu-3 
{
    display: flex;
    flex-direction: column;
    width: 29vw;
    background-color: white;
    color: black;
    padding-bottom: 2vh;
    margin-bottom: 1vh;
}
.drop-menu-1:hover, .drop-menu-2:hover, .drop-menu-3:hover 
{
    cursor: pointer;
}
.menu1-image-section, .menu2-image-section, .menu3-image-section 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu1-image-container 
{
    margin-left: 1vw;
    margin-top: 1vh;
    width: 27vw;
    overflow: hidden;
    position: relative;
}
.menu1-image-section img, .menu2-image-section img, .menu3-image-section img 
{   
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 3s ease;
    display: block; 
    transform-origin: center center;
}
.menu1-image-section img:hover, .menu2-image-section img:hover, .menu3-image-section img:hover 
{
    transform: scale(1.2); 
}
.menu1-image-section p, .menu2-image-section p, .menu3-image-section p 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh 0vw;
    font-family: 'Sharp Sans';
    font-size: 1vw;
    font-weight: bold;
}
.menu1-list-section h4 
{
    margin-top: 0.5vw;
    margin-left: 1.5vw;
    margin-right: 1vw;
    border-bottom: 0.3px solid black;
    color: black;
    font-family: 'Sharp Sans';
    font-size: 1vw;
    font-weight: bold;
}
.menu1-list-section li 
{
    margin-left: 1.5vw;
    font-family: 'Sharp Sans';
    font-size: 1vw;
    color: black;
    line-height: 4vh;
}
.menu1-list-section li:hover 
{
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.footer__copyright 
{
    display: flex;
    flex-direction: row;
    font-size: 1vw;
    color: rgba(255, 255, 255, 0.75);
    padding-top: 2vw;
    border-top: 0.01vw solid #2b2a2a;
    margin-top: 1vh;
    margin-bottom: 2vh;
    padding-left: 2vw;
    padding-top: 5vh;
    font-family:  'Sharp Sans Medium';
}
.copyright__content 
{ 
    font-family:  'Sharp Sans Medium';
}
.realleather 
{ 
    margin-left: 0.5vw; 
}

.footer__copyright ul 
{ 
    display: flex; 
    flex-direction: row; 
    
}
.footer__copyright a 
{ 
    color: #a0a0a0; 
    margin-right: 1vw; 
    font-size: 0.9vw; 
}
.footer__copyright a:hover 
{ 
    text-decoration: underline; 
}
.footer__copyright li 
{ 
    
    padding: 0; 
    margin-left: 1vw; 
}
.realleather
{
    list-style: none;
}
.content-links
{
    list-style: disc;
}
.arrow 
{ 
    margin-left: 43vw; 
}

@media (max-width: 990px) 
{    
    .div10 
    {
        grid-template-columns: repeat(2, 1fr);
    }
    .div10 p 
    { 
        font-size: 2.2vw; 
    }
    .reviews i 
    { 
        font-size: 2vw; 
    }
    .rating 
    { 
        font-size: 1.5vw; 
    }
    .price 
    { 
        font-size: 1.8vw; 
    }
}

@media (max-width: 749px) 
{

    .div10 
    {
        grid-template-columns: repeat(2, 1fr); 
    }
    .div10 p 
    { 
        font-size:3vw !important; 
    } 
    .reviews i 
    { 
        color: black; 
        margin: 0vw !important;
        font-size: 3vw !important; 
    }
    .rating 
    { 
        font-size: 3vw !important; 
    }
    .price 
    { 
        font-size: 16px; 
    }
    .div10
    {
        margin-bottom: 4vh !important;
    }
}
@media (max-width: 767px) 
{
    
   .quotes-desktop
   {
    display: none !important;
   }
   .quotes-mobile-slider
   {
    display: block !important;
   }
    
    .div12 
    {
        display: flex;
        flex-wrap: nowrap; 
        overflow-x: auto;  
        scroll-snap-type: x mandatory; 
        -webkit-overflow-scrolling: touch;
        margin: 0;
        padding: 0 5vw 20px 5vw; 
        gap: 15px; 
        margin-top: 4vh !important;
    }
    .div12::-webkit-scrollbar 
    {
        display: none;
    }

    
    .testimonial-card 
    {
        flex-shrink: 0;
        width: 85vw;   
        height: 65vh;  
        scroll-snap-align: start; 
        border-radius: 5vw !important;
    }

    
    .quote-icon 
    {
        width: 20vw;
        margin-bottom: 15px;
    }
    .quote-text 
    {
        font-size: 18px; 
        margin-bottom: 20px;
    }
    .stars-icon 
    {
        width: 30vw;
        margin-bottom: 15px;
    }
    .quote-author 
    {
        font-size: 14px;
    }

    .div12-btn 
    {
        margin-top: 40px;
    }
    .testimonial-dots 
    {
        display: block;
    }
    .readall-btn 
    {
    padding: 1.5vh 16vw !important;
    margin-bottom: 6vw;
    border-radius: 3vw !important;
    }
    .div13 
    {
        display: flex;
        flex-direction: column; 
        height: auto;
        margin: 0 4vw 4vh 4vw;
        border-radius: 4vw;
        color: rgba(0, 0, 0, 0.75);
    }

    
    .div13 .image 
    {
        order: 1; 
    }
    .div13 .div13-text 
    {
        order: 2; 
    }

    
    .div13 .div13-text,
    .div13 .image 
    {
        width: 100%;
        height: auto;
    }
    
    
    .div13-text 
    {
        padding: 40px 20px;
        align-items: center;
        text-align: left;
    }
    
    
    .div13 p 
    {    
        color: rgba(0, 0, 0, 0.75);
    }
    .div13-p1 
    {
        font-size: 5vw !important;
        width: 100%;
        height: auto;
        line-height: 1.3;
        margin-bottom: 20px;
        margin-left: 1vw !important;
    }
    .div13-p2 
    {
        font-size: 3vw !important;
        line-height: 1.6;
        padding-right: 0;
        margin-bottom: 30px;
        margin-left: 5vw !important;
    }
    
    .bestseller-btn 
    {
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
        padding: 2vh 1vw;
        border-radius: 4vw;
        width: 70vw;
    }
    
    .div13 img 
    {
        height: auto;
        border-radius: 4vw;
    }
    .faq-container 
    {
        margin-bottom: 5vh;
        padding: 0 5vw; 
    }
    .faq-questions 
    {
        font-size: 3vw !important;  
        padding: 18px 10px; 
        line-height: 1.4; 
        border-bottom-width: 1px;
        font-weight: bold !important;
    }

   
    .faq-answer 
    {
        font-size: 3vw !important; 
        line-height: 1.6; 
        padding: 0 10px 0 10px; 
    }

    
    .faq-container h1 
    {
        font-size: 28px;
    }
    .faq-para 
    {
        font-size: 15px;
        line-height: 1.6;
    }
    .footer-div1 
    {
        text-align: center;
        padding: 40px 20px;
    }
    .footer-div1 h2 
    {
        font-size: 20px; 
        line-height: 1.4;
    }
    .footer-div1 input 
    {
        width: 70vw; 
        height: 5vh;
        font-size: 4vw;
        border-radius: 2vw !important;
    }
    .drop-menu-1, .drop-menu-2, .drop-menu-3
    {
        justify-content: center !important;
        width: 90vw !important;

    }
    .menu1-image-section
    {
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .menu1-image-container
    {
        width: 85vw !important;
        margin: 1vh 2vw !important;
    }
    .menu1-image-section p, .menu2-image-section p, .menu3-image-section p
    {
        font-size: 3vw !important;
        margin-top: -1vh !important;
    }
    .div-footer-section 
    {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
        margin-top: -6vw !important;
        padding-left: 4vw !important;
        padding-right: 4vw !important;
    }
    
    .div-footer-section .section2 
    {
        width: 100%;       
    }
    .section1-image img 
    {
        width: 20vw;
        height: 8vh;
        padding-left: 35vw;
    }
    .company 
    {
        padding-right: 0;
        margin-top: -6vh !important;
    }
    .dropdown-arrow 
    {
        margin-left: auto; 
        padding-left: 20px;
    }
    .section2 h4
    {
        font-size: 3vw !important;
        margin-left: 4vw !important;
        margin-right: 4vw !important;

    }
    .dropdown-trigger:hover, .section2 a:hover 
    {
        text-decoration: none !important;
        color: rgba(255, 255, 255, 0.75);
        
    }
    
    .section2 ul, .menu1-list-section li 
    
    {
        font-size: 3vw !important;
        line-height: 4.5vh !important;
        margin-left: 2vw !important;
    }
    
    .footer__copyright 
    {
        flex-direction: row !important; 
        flex-wrap: wrap !important;
    }
    .realleather a, .footer__copyright p 
    {
        font-size: 2vw !important;
    }
    .footer__copyright ul 
    {
        flex-direction: row; 
        flex-wrap: nowrap !important;
        justify-content: space-evenly !important; 
        margin-left: 1vw !important;
        font-size: 2vw !important;
    }
    .content-links
    {
        margin-left: 4vw !important;
    }
    .content-links a
    {
        font-size: 2vw !important;
    }
    .arrow
    {
        display: block;
        margin-left: 90vw !important;
    }
}
@media screen and (max-width: 520px)
{
    body 
    {
        padding: 0;
        margin: 0;
    }
    .div1 
    {
        padding: 12px 15px;
        
    }
    .heading1 
    {
        font-size: 12px;
        line-height: 1.5;
        border: none;
    }
    .heading1:hover 
    {
        border: none;
        text-decoration: underline;   
    }
    .navbar 
    {
        
        height: 12vw;
        flex-wrap: wrap;
    }
    .logo-image
    {
        width: 55vw;
        height: 20vh;
        margin-top: -7vh;
    }
    .nav-list
    {
        display: none;
    }
    .search-icon
    {
        display: none;
    }
    .Hamburger, .cross
    {
        position: absolute;
        top: -32.5%;
        left: 350%;
        width: 4vw;
        height: 4vh;
        cursor: pointer;
    }
    .cart-icon
    {
        position: absolute;
        top: -6%;
        right: 12%;
        width: 8vw;
    }
    .mobile-navbar
    {
        display: block;
    }
    .div5 p 
    {
        font-size: 7vw !important;
        margin-bottom: 40px;
    }
    .div5-div
    {
        display: flex;
        flex-direction: row !important;
       
        justify-content: center !important;
        align-items: center !important;
    }
    .div5-img1
    {
        width: 10vw !important;
        height: 3vh !important;
    }
    .div5-img2
    {
        width: 35vw !important;
        height: 3vh !important;
    }
    .div5-img3
    {
        width: 20vw !important;
        height: 3vh !important;
    }
    .div5-img4
    {
        width: 20vw !important;
        height: 3vh !important;
    }
    .div5-img5 
    {
        display: none;
    }
   


    .div6
    {
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: space-evenly !important;
    }
    .div6 div 
    {
        padding: 0 !important;
        border-radius: 4vw !important;
        width: 45vw !important;
        height: 30vh !important;
    }
    .div6 img
    {
        width: 45vw !important;
        height: 20vh !important;
        border-radius: 4vw !important;
        
        
    }
    .div6 p
    {
        display: flex !important;
        flex-wrap: wrap !important;
        font-size: 5.5vw !important;
        padding: 1vh 2vw !important;
    }
    .div8
    {
        margin: 1vh 0vw !important;
    }
    .viewall-btn
    {
        text-align: center !important;
        justify-content: center !important;
        padding: 1.5vh 32vw !important;
        border-radius: 2vw !important;
    }
    .div9-quotes-section 
    {
        margin: 60px 0; 
    }
    
    .quotes-desktop 
    {
        display: none; 
    }

    .quotes-mobile-slider 
    {
        display: block; 
    }
   
    .usp-desktop
    {
        display: none;
    }
    .div3-div
    {
        height: 4vh !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .usp-mobile
    {
        display: block;
        font-size: 3vw !important;

    }
    

   
}
@media (min-width: 620px) and (max-width: 1020px)
{
     body 
    {
        padding: 0;
        margin: 0;
    }
    .div1 
    {
        padding: 12px 15px;
        
    }
    .heading1 
    {
        font-size: 12px;
        line-height: 1.5;
        border: none;
    }
    .heading1:hover 
    {
        border: none;
        text-decoration: underline;   
    }
    .navbar 
    {
        height: 8vw !important;
        flex-wrap: wrap;
    }
    .logo-image
    {
        width: 50vw !important;
        height: 8vh !important;
        margin-top: -1vh;
    }
    .nav-list
    {
        display: none;
    }
    .search-icon
    {
        
        position: absolute !important;
         top:31% !important;
        right: 18% !important;
        width: 8vw;
    }
    .cart-icon
    {
        position: absolute;
        top: -6%;
        right: 12%;
        width: 8vw;
    }
    .Hamburger, .cross
{
    position: absolute;
    top: 8% !important;
    left: 350%;
    width: 4vw;
    height: 4vh;
    cursor: pointer;
}

    .mobile-navbar
    {
        display: block;
    }
    .div5 p 
    {
        font-size: 7vw !important;
        margin-bottom: 40px;
    }
    .div5-div
    {
        display: flex;
        flex-direction: row !important;
       
        justify-content: center !important;
        align-items: center !important;
    }
    .div5-img1
    {
        width: 10vw !important;
        height: 3vh !important;
    }
    .div5-img2
    {
        width: 35vw !important;
        height: 3vh !important;
    }
    .div5-img3
    {
        width: 20vw !important;
        height: 3vh !important;
    }
    .div5-img4
    {
        width: 20vw !important;
        height: 3vh !important;
    }
    .div5-img5 
    {
        display: none;
    }
   


    .div6
    {
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: space-evenly !important;
    }
    .div6 div 
    {
        padding: 0 !important;
        border-radius: 4vw !important;
        width: 45vw !important;
        height: 30vh !important;
    }
    .div6 img
    {
        width: 45vw !important;
        height: 20vh !important;
        border-radius: 4vw !important;
        
        
    }
    .div6 p
    {
        display: flex !important;
        flex-wrap: wrap !important;
        font-size: 5.5vw !important;
        padding: 1vh 2vw !important;
    }
    .div8
    {
        margin: 1vh 0vw !important;
    }
    .viewall-btn
    {
        text-align: center !important;
        justify-content: center !important;
        padding: 1.5vh 32vw !important;
        border-radius: 2vw !important;
    }
    .div9-quotes-section {
        margin: 60px 0; /* Adjust margin for mobile */
    }
    
    .quotes-desktop {
        display: none; /* Hide the desktop version */
    }

    .quotes-mobile-slider {
        display: block; /* Show the mobile slider */
    }
   
    .usp-desktop
    {
        display: none;
    }
    .div3-div
    {
        height: 2vh !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    .usp-mobile
    {
        display: block;
        font-size: 3vw !important;

    }
    
}
body.no-scroll 
{
    overflow: hidden;
}
.mobile-navbar
{
    position: relative;
    display: none;
}

.nav-images
{
    position: relative;
    width: 4vw;
}

.hidden
{
    display: none;
}
.overlay 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9); 
    z-index: 1000; 
    opacity: 0; 
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.div1, .div2 
{
    position: relative; 
    z-index: 1002;      
}


.hamburger-slider 
{
    width: 85vw; 
    max-width: 400px; 
    height: 93%; 
    background-color: white;
    position: fixed;
    top: 11.5%; 
    left: -100%; 
    transition: left 0.4s ease-out; 
     z-index: 1003; 
    
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}


.hamburger-slider.isopen 
{
  left: 0; 
  overflow-y: scroll; 
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.nav-images button 
{
  margin-top: 2vh;
  margin-right: 7vw;
  width: 4vw;
  height: 4vh;
  border: none;
  background-color: transparent;
}
.hamburger-search 
{
   margin-top: 2vh; 
}
.hamburger-search input
{
    background-color: white;
    margin-top: 0.5vw;
    width: 60vw;
    height: 3vh;
    border: 0.1vw solid black;
    padding-left: 5vw ;
    border-radius: 2vw;
    font-size: 4vw;
    font-family: arial;
    margin-left: 7vw !important;
}
.hamburger-search-img
{
    width: 4vw;
    position: absolute;
    top: 3%;
    right: 18% !important;
}

.simple-list
{
    display: flex;
    justify-content: left;
    margin-left: 5vw;
    color: black;

}
.hamburger-trigger 
{
    display: flex;
    justify-content: left;
    
    width: 100%;
    cursor: pointer;
    list-style: none; 
    
}
.hamburger-list
{
    margin-top: 4vh;
    font-family: 'Sharp Sans Medium';
    color: black;
    line-height: 4vh;
}
.hamburger-text
{
    margin-left: 2vw;
    padding-right: 2vw;
    margin-right: 30vw;
    margin-left: 4vw;
}
.hamburger-arrow 
{
    width: 20px;          
    height: 20px;         
    position: relative;
    opacity: 0.8;         
    
    color: black;
}
.hamburger-arrow::before,
.hamburger-arrow::after 
{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 11px;          
    height: 0.25px;         
    border: 0.1px solid black;
    transition: transform 0.3s ease-in-out; 
}
.hamburger-arrow::before 
{ 
    transform: translateX(-3px) rotate(45deg); 
}
.hamburger-arrow::after 
{ 
    transform: translateX(3px) rotate(-45deg); 
}
.hamburger-menu[open] .hamburger-arrow::before 
{ 
    transform: translateX(0px) rotate(45deg); 
}
.hamburger-menu[open] .hamburger-arrow::after 
{ 
    transform: translateX(0px) rotate(-45deg); 
}
.hamburger-menu
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.hamburger-menu-1, .hamburger-menu-2, .hamburger-menu-3 
{
    
     width: 80vw;
    color: black;
    padding-bottom: 2vh;
    margin-bottom: 1vh;
    margin-right: 3vw;
}
.hamburger-menu-1:hover, .hamburger-menu-2:hover, .dhamburgerrop-menu-3:hover 
{
    cursor: pointer;
}

.hamburger-image-container 
{
    align-items: center;
    margin-left: 1vw;
    margin-top: 1vh;
    
     width: 80vw;
    overflow: hidden;
    position: relative;
}
.hamburger-image-section img, .hamburger2-image-section img, .hamburger3-image-section img 
{   
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 3s ease;
    display: block; 
    transform-origin: center center;
}
.hamburger-image-section img:hover, .hamburger2-image-section img:hover, .hamburger3-image-section img:hover 
{
    transform: scale(1.2); 
}
.hamburger-image-section p, .hamburger2-image-section p, .hamburger3-image-section p 
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh 0vw;
    font-family: 'Sharp Sans';
    font-size: 3vw;
    font-weight: bold;
}
.hamburger-list-section h4 
{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 0.5vw;
    margin-left: 1.5vw;
    margin-right: 3.5vw;
    border-bottom: 0.3px solid black;
    color: black;
    font-family: 'Sharp Sans';
    font-size: 3vw;
    font-weight: bold;
}
.hamburger-list-section li 
{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 1.5vw;
    font-family: 'Sharp Sans';
    font-size: 3vw;
    color: black;
    line-height: 4vh;
}
.hamburger-list-section li:hover 
{
    color: black;
    cursor: pointer;
    text-decoration: none;
}
@media screen and (max-width: 980px)
{
    .nav-links
    {
        display: none;
    }
    .mobile-navbar
    {
        display: block;
    }
    }


    
